trigger:
  branches:
    include:
      - master
      - feature/*
      - feature/XPLSG-*

pool:
  vmImage: ubuntu-latest # Azure free-tier hosted agent

stages:
  # ================= Docker Build & Push (Optimized) ===================
  - stage: Docker_Build_And_Push
    displayName: "Docker Build & Push (ACR)"
    jobs:
      - job: Build_And_Push
        displayName: "Build & Push Docker Images"
        steps:
          - checkout: self

          - task: Docker@2
            displayName: "Build and Push Frontend Docker Image"
            inputs:
              command: buildAndPush
              repository: "xplsg-frontend"
              dockerfile: "./frontend/Dockerfile"
              containerRegistry: "ACR_Service_Connection" # Create service connection in Azure DevOps
              tags: "latest"

          - task: Docker@2
            displayName: "Build and Push Auth-Service Docker Image"
            inputs:
              command: buildAndPush
              repository: "xplsg-auth-service"
              dockerfile: "./backend/services/auth/Dockerfile"
              containerRegistry: "ACR_Service_Connection" # Same service connection
              tags: "latest"
