.custom-marker {
  background-image: url("https://docs.mapbox.com/help/demos/custom-marker-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
