name: Docker Build & Push to ACR

on:
  pull_request:
    branches:
      - master
    #   - feature/*
    #   - feature/XPLSG-*

jobs:
  docker_build_push:
    name: Docker Build & Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Docker Login to Azure ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Frontend Docker build & push
      - name: Build & Push Frontend Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/xplsg-frontend:latest
            ${{ secrets.ACR_LOGIN_SERVER }}/xplsg-frontend:${{ github.sha }}
            ${{ secrets.ACR_LOGIN_SERVER }}/xplsg-frontend:${{ github.ref_name }}

      - name: Docker Build & Push Auth Service Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend/services/auth
          file: ./backend/services/auth/Dockerfile
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/xplsg-auth-service:latest
            ${{ secrets.ACR_LOGIN_SERVER }}/xplsg-auth-service:${{ github.sha }}
            ${{ secrets.ACR_LOGIN_SERVER }}/xplsg-auth-service:${{ github.ref_name }}
