name: Frontend-CI

on:
  # push:
  # branches:
  # - master
  # - "feature/**" # This will trigger the workflow for all branches that start with XPLSG-
  # paths:
  #   - frontend/** # This will trigger the workflow for all changes in the frontend directory
  pull_request:
    branches:
      - master
      - "feature/**" # This will trigger the workflow for all branches that start with XPLSG-
    # paths:
    #   - frontend/** # This will trigger the workflow for all changes in the frontend directory

jobs:
  frontend-tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout
        uses: actions/checkout@v3

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      # Install dependencies
      - name: Install dependencies
        run: |
          cd frontend
          npm install

      # - name: Run Unit Tests with Vitest
      #   run: |
      #     cd frontend
      #     npm run test

      # Build the frontend
      - name: Build frontend
        run: |
          cd frontend
          npm run build
